language: julia
os:
    - linux
julia:
    - 0.7
    - 1.0
    - 1.3
    - nightly
notifications:
    email: false
after_success:
    - if [ $TRAVIS_JULIA_VERSION = "nightly" ]; then julia -e 'cd(Pkg.dir("Images")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'; fi
